@model IEnumerable<Instructor>


  <h3>Hocalar</h3>
  <hr>
<div class="col-md-4 mb-3">
  <div class="input-group rounded">
    <input type="search" class="form-control rounded border-dark" placeholder="Hoca Ara..." aria-label="Search" aria-describedby="search-addon" onkeyup="searchCourses(this.value)" />
    <span class="input-group-text border-dark" id="search-addon">
      <i class="bi bi-search"></i>
    </span>
  </div>
</div>

  <div class="row">
    <div id="no-match-message" class="text-center text-muted" style="display: none; margin-top: 10px;"><h5>Eşleşen sonuç yok</h5></div>

    @foreach (var instructor in Model)
    {
      <div class="col-md-6 mb-3 instructor-card">
        <div class="card border-dark">
          <div class="card-body">
            <h5 class="card-title"><b><a style="text-decoration: none;" class = "text-dark" asp-action="InstructorDetail" asp-route-id="@instructor.InstructorId">@instructor.InstructorName</a></b></h5>
          <p class="card-text"><b>Puan: </b>
          @if(instructor.InstructorPoint >= 0 && instructor.InstructorPoint <= 4){
            <span class="badge bg-danger">@instructor.InstructorPoint</span>
          }
          @if(instructor.InstructorPoint > 4 && instructor.InstructorPoint <= 7){
            <span class="badge bg-warning">@instructor.InstructorPoint</span>
          }
          @if(instructor.InstructorPoint > 7 && instructor.InstructorPoint <= 10){
            <span class="badge bg-success">@instructor.InstructorPoint</span>
          }
          
          
          </p>
            <p class="card-text"><b>Verilen Dersler: </b>
              @foreach (var course in instructor.CoursesGiven)
              {
                <span class="badge bg-primary">@course.CourseName</span>
              }
            </p>
          </div>
        </div>
      </div>
    }





 

@section Scripts{
  <script>
      function searchCourses(value) {
        var cards = document.querySelectorAll('.instructor-card');
        var found = false;
        cards.forEach(function (card) {
          var instructorName = card.querySelector('.card-title').innerText.toLowerCase();
  
          if (instructorName.includes(value.toLowerCase())) {
            card.style.display = 'block';
            found = true;
          } else {
            card.style.display = 'none';
          }
        });

        if(!found){
          document.getElementById('no-match-message').style.display = 'block';
        }else{
          document.getElementById('no-match-message').style.display = 'none';
        }
      }
    </script>
}