@model InstructorDetailViewModel

<style>
    .progress{
    width: 150px;
    height: 150px;
    line-height: 150px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
}
.progress:after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
}
.progress > span{
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}
.progress .progress-left{
    left: 0;
}
.progress .progress-bar{
    width: 100%;
    height: 100%;
    background: none;
    border-width: 2px;
    border-style: solid;
    position: absolute;
    top: 0;
}
.progress .progress-left .progress-bar{
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}
.progress .progress-right{
    right: 0;
}
.progress .progress-right .progress-bar{
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading-1 1.8s linear forwards;
}
.progress .progress-value{
    width: 85%;
    height: 85%;
    border-radius: 50%;
    border: 2px solid #ebebeb;
    font-size: 32px;
    line-height: 125px;
    text-align: center;
    position: absolute;
    top: 7.5%;
    left: 7.5%;
}
.progress.blue .progress-bar{
    border-color: #049dff;
}
.progress.blue .progress-value{
    color: #049dff;
}
.progress.blue .progress-left .progress-bar{
    animation: loading-2 1.5s linear forwards 1.8s;
}
.progress.yellow .progress-bar{
    border-color: #fdba04;
}
.progress.yellow .progress-value{
    color: #fdba04;
}
.progress.yellow .progress-left .progress-bar{
    animation: loading-3 1s linear forwards 1.8s;
}
.progress.pink .progress-bar{
    border-color: #ed687c;
}
.progress.pink .progress-value{
    color: #ed687c;
}
.progress.pink .progress-left .progress-bar{
    animation: loading-4 0.4s linear forwards 1.8s;
}
.progress.green .progress-bar{
    border-color: #1abc9c;
}
.progress.green .progress-value{
    color: #1abc9c;
}
.progress.green .progress-left .progress-bar{
    animation: loading-5 1.2s linear forwards 1.8s;
}
@@keyframes loading-1{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
@@keyframes loading-2{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(144deg);
        transform: rotate(144deg);
    }
}
@@keyframes loading-3{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}
@@keyframes loading-4{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(36deg);
        transform: rotate(36deg);
    }
}
@@keyframes loading-5{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(126deg);
        transform: rotate(126deg);
    }
}
@@media only screen and (max-width: 990px){
    .progress{ margin-bottom: 20px; }
}
</style>

@if (TempData["ErrorMessages"] is string[] errorMessages)
{
    <div class="alert alert-danger">
    <ul>
        @foreach (var errorMessage in errorMessages)
            {
                @if (errorMessage.StartsWith("The value"))
                {
                    <p>
                        Lütfen puan verin!
                    </p>
                }
                @if (!errorMessage.StartsWith("The value"))
                {
                    <p>
                    <p>@errorMessage</p>
                    </p>
                }

            }
        </ul>
    </div>
}




<div class="row">
    <div class="col-md-3 border border-dark rounded-3">
        <br>
        <div class="col">
            @if (Model.Instructor != null)
            {

                <div class="row mb-1">
                    <h5><b>@Model.Instructor.InstructorName</b></h5>

                </div>

                <div class="row mb-1">
                    <p><b>Verilen Dersler:</b> 
                    @foreach(var course in Model.Instructor.CoursesGiven){
                        <span class = "badge bg-primary">
                            <a asp-action="CourseDetail" asp-controller="Course"></a> @course.CourseName</span>
                    }</p>

                </div>

   
                <div class="row mb-3">
                    <p><b>Puan: </b>

                </div>

                            <div class="row mb-3">
                <div class="col-md-6">
        @if(Model.Instructor.InstructorPoint >= 0 && Model.Instructor.InstructorPoint <= 4){
                        <div class="progress pink">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                <div class="progress-value">@Model.Instructor.InstructorPoint</div>
            </div>
          }
          @if(Model.Instructor.InstructorPoint > 4 && Model.Instructor.InstructorPoint <= 7){
                        <div class="progress yellow">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                <div class="progress-value">@Model.Instructor.InstructorPoint</div>
            </div>
          }
          @if(Model.Instructor.InstructorPoint > 7 && Model.Instructor.InstructorPoint <= 10){
                        <div class="progress green">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                <div class="progress-value">@Model.Instructor.InstructorPoint</div>
            </div>
          }

               
               

                </div>
            </div>
            }

            <div class="row mb-3">
                <div class="col ">
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#create-comment-modal">
                    <i class="bi bi-chat-text"></i> Yorum Ekle
                </button>
                @await Html.PartialAsync("_CreateInstructorCommentModal", @Model)
                </div>

            </div>



     

            

            
        </div>


    </div>
    <div class=" col-md-9  rounded-3">
        <br>
        <div style="max-height: 60vh; overflow-y: auto;">
            @if (Model.Comments != null && Model.Comments.Any())
            {
                @foreach (var comment in Model.Comments)
                {
                    <div class="card mb-2 border-dark">
                        <div class="row no-gutters">
                            <div class="col-md-12">
                                <div class="card-body">
                                    @if (comment.CommentedBy != null)
                                    {
                                        <div class="row">
                                            <div class="col">
                                                <h5 class="card-title">@comment.CommentedBy.UserName</h5>

                                            </div>
                                            @if (User.IsInRole("Admin"))
                                            {
                                                <div class="col text-end">
                                                    <a asp-action="Delete" asp-controller="Comment" class="btn btn-danger" asp-route-id="@comment.CommentId">
                                                        <i class="bi bi-trash"></i>
                                                    </a>
                                                </div>
                                            }


                                        </div>
                                    }
                                    <p class="card-text">@comment.CommentContent</p>
                                                        <p><b>Puan: </b>
          @if(comment.Point >= 0 && comment.Point <= 4){
            <span class="badge bg-danger">@comment.Point</span>
          }
          @if(comment.Point > 4 && comment.Point <= 7){
            <span class="badge bg-warning">@comment.Point</span>
          }
          @if(comment.Point > 7 && comment.Point <= 10){
            <span class="badge bg-success">@comment.Point</span>
          }
                                    <p class="card-text"><small class="text-muted">@comment.CreateDate</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
            // Comments listesi boşsa bu kısım çalışır
                <h5 class="text-muted text-center">Henüz yorum bulunmamaktadır.</h5>
            }




        </div> <!-- END - Comments Section -->



    </div>
</div>
